* { margin:0; padding:0; box-sizing:border-box; }


body {
	background:url("../unit4/unit4assets/background.jpg") no-repeat #19181e; 
	background-size:cover; 
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 22px;
	text-align: left;
}

header {
	margin-top: 0.5%;
	margin-left: 6%;
}

section { margin:%10 0 0 11%; }
h1 {
	font-family: 'Nixie One', cursive;
	font-weight: bold;
	font-size: 1.4em;
}

hr {
	width: 250px;
	margin:1em 0;
	border-color: white;
}

p {
	margin-bottom: 1em; 
	width:350px;
}

a {
	display:block;
	font-family: 'Nixie One', cursive;
	font-weight: bold;
	font-size: .8em;
	color: white;
	text-decoration:none;
	width:180px;
}

.button {
	border:3px solid #fff;
	padding:20px 40px;
}


