* { margin:0; padding:0; box-sizing:border-box; }


body {
	background:url("../unit4/unit4assets/background.jpg") no-repeat #19181e; 
	background-size: auto, cover; 
}

header {
	margin-top: 0.5%;
	margin-left: 6%;
}

h1 {
	font-family: 'Nixie One', cursive;
	font-weight: bold;
	color: white;
	font-size: 130px;
	text-align: left;
	margin-top: 5%;
	margin-left: 14%; 
}

hr {
	width: 250px;
	margin-left: 23.5%;
	border-color: white;
}

p {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 80px;
	text-align: left;
	margin-left: 14%;
	margin-bottom: 50%; 
}

nav a {
	font-family: 'Nixie One', cursive;
	font-weight: bold;
	font-size: 70px;
	color: white;
}

#button {
	border:3px solid #fff;
	padding:10px 20px;

}


