* { margin:0; padding:0; box-sizing:border-box; }


body {
	background:url("../unit4/unit4assets/background.jpg") no-repeat #19181e; 
	background-size: auto; 
}

h1 {
	font-family: 'Nixie One', cursive;
	color: white;
	font-size: 125px;
	font-weight: 1.25em;
	margin-top: 25%;
	margin-left: 5%; 

}

p {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 90px;
	margin-bottom: 20%;
	margin-left: 5%;
}