* { margin:0; padding:0; box-sizing:border-box; }


body {
	background:url("../unit4/unit4assets/background.jpg") no-repeat #19181e; 
	background-size: auto; 
}

h1 {
	font-family: 'Nixie One', cursive;
	color: white;
	font-size: 125px;
	margin-top: 20%;
	margin-left: 20%; 

}

p {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 100px;
	margin-top: 35%;
	margin-left: 20%;
}