* { margin:0; padding:0; box-sizing:border-box; }

header {
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1.5em;
}

section {
	margin: auto;
}

section#splash {
	background: url("../unit6/unit6assets/background.jpg") no-repeat center;
	background-size: cover; 
	height: 100vh;
	max-width: 100%;
}

section#about {
	padding-top: 1em;
	padding-bottom: 1em;
}

section#gallery {
	padding-top: 1em;
	padding-bottom: 1em;
}

section#contact {
	padding-top: 1em;
	padding-bottom: 1em;
}

section#testimonials {
	padding-top: 1em;
	padding-bottom: 1em;
}

nav {
	float: right;
	margin-top: 1.25em;
}

nav a {
	color: white;
	font-size: 14px;
	letter-spacing: .1em;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5em 1.5em 1.5em 1.5em;
	width: 30em;
}
