* { margin:0; padding:0; box-sizing:border-box; }


body {
	background: url("../unit6/unit6assets/background.jpg") no-repeat;
	background-size: cover; 
}

#logo {
	display: block;
	margin: 0 auto;
	width: 30em;
}

nav {
	float: center;
	margin: 3em 2em; 
}

nav a {
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	color: white;
	padding: 1.5em;
	text-align: center;
	width: 30em;
}
