* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	color: white;
	padding: 1.5em;
}

#logo{
	display: block;
	margin: 0 auto;
	width: 30em;
}

section {
	max-width: 100em;
	margin: 0em auto 4em;
	
}

section#splash {
	background: url("../unit6/unit6assets/background.jpg") no-repeat center;
	background-size: cover; 
	height: 100vh;
	max-width: 100%;
}