*{margin:0; padding:0; box-sizing:border-box;}


body { 
	background: url("../unit3/assets/stripes.png") repeat-x, url("../unit3/assets/background.jpg") no-repeat;
    background-size: auto, cover; 
    color: white;
    font-family: helvetica, arial, sans-serif;  
}

hr {
	width:57px;
	margin:20px 0 0 -1px;
	border-color: #fd6e6e;
}


p {
	margin-top: 20px;
}

section {
	margin:250px 0 0 100px;
}

#button {
	margin-top: 20px;
}